@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply font-libre;
  @apply font-oswald;
}

html,
body,
#root {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}
@keyframes slide {
  0%,
  100% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(10px);
  }
}

.animate-slide {
  animation: slide 7s ease-in-out infinite;
}
/* Quitar flechas en Chrome, Safari, Edge, Opera */
input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Quitar flechas en Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}
